.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  padding: 25px 0 50px 0;
  width: 100vw;
  overflow-x: hidden;
  height: calc(100vh - 75px);
  user-select: none;
  font-family: monospace;
}
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #101010;
}
input {
  background-color: transparent;
  border: none;
  text-align: end;
  border-bottom: rgb(105, 105, 105) 1pt solid;
  color: white;
  font-family: monospace;
}
pre {
  color: rgb(105, 105, 105);
  font-family: monospace;
  font-size: 10pt;
  transition: 350ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

label {
  text-transform: uppercase;
  position: relative;
}
label:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 66%;
  z-index: -1;
  top: 5px;
  left: 5px;
  background-color: orangered;
}

.control-panel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  top: 50px;
  width: 100vw;
}
.control-panel {
  top: 50px;
  width: 250px;
  padding: 25px;
  border: 1pt solid white;
  border-radius: 5px;
  display: flex;
  color: white;
  flex-direction: column;
  gap: 5px;
}

.hyphen {
  width: calc(50vw - 175px);
  height: 1px;
  background-color: rgb(105, 105, 105);
  position: relative;
}
.hyphen:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(105, 105, 105);
  left: 0;
}
.hyphen:first-of-type:before {
  left: 100%;
}

.control-panel__item {
  width: 100%;
  gap: 25px;
  display: flex;
  justify-content: space-between;
}
#web {
  position: absolute;
  left: 25px;
  bottom: 25px;
}
